<legend>編集</legend>

<%= form_for [:management, @board], :html => {:class => "form-horizontal"} do |f| %>
  <div class="control-group">
    <label class="control-label">名前</label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">シリアルポート</label>
    <div class="controls">
      <%= f.text_field :serial_port %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "更新", :class => "btn btn-primary" %>
    <%= link_to "キャンセル", management_board_index_path, :class => "btn" %>
    <%= link_to "削除", management_board_path, :method => :delete, :confirm => "本当に削除しますか？", :class => "btn btn-danger", :style => "float: right;" %>
  </div>
<% end %>
