<legend>新規登録</legend>

<%= form_for @board, :url => management_board_index_path, :class => "form-horizontal" do |f| %>
  <div class="control-group">
    <label class="control-label">名前</label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">シリアルポート</label>
    <div class="controls">
      <%= f.text_field :serial_port %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "登録", :class => "btn btn-primary" %>
    <%= link_to "キャンセル", management_board_index_path, :class => "btn" %>
  </div>
<% end %>
